@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
input,
button {
  font-family: 'Open Sans';
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.clearfix {
  clear: both;
}

#main {
  margin: 40px auto;
  width: 600px;
}

#new-game {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #999;
  color: #fff;
  padding: 6px 14px;
  outline: 0;
}

#game {
  margin: 60px auto 0;
  text-align: center;
}

#currentWord span {
  display: inline-block;
  margin: 0 10px;
}

#hangman {
  height: 405px;
  margin: 0 auto;
  width: 300px;
}

#hangman div {
  background: #FFF;
}

#hangman .base {
  height: 2px;
  width: 300px;
}

#hangman .left-bar {
  height: 400px;
  width: 2px;
}

#hangman .top-bar {
  height: 2px;
  width: 200px;
}

#hangman .right-bar {
  float: left;
  height: 30px;
  margin-left: 200px;
  width: 2px;
}

#hangman .head {
  background: none;
  border-radius: 100%;
  float: left;
  margin-left: 175px;
  margin-top: -375px;
  height: 50px;
  width: 50px;
}

#hangman .body {
  float: left;
  height: 140px;
  margin-top: -321px;
  margin-left: 200px;
  width: 2px;
}

#hangman .left-arm,
#hangman .right-arm,
#hangman .left-leg,
#hangman .right-leg {
  float: left;
  height: 90px;
  margin-top: -321px;
  margin-left: 173px;
  transform: rotate(35deg);
  width: 2px;
}

#hangman .right-arm,
#hangman .right-leg {
  margin-left: 230px;
  margin-top: -324px;
  transform: rotate(140deg);
}

#hangman .left-leg,
#hangman .right-leg {
  margin-top: -192px;
}

#hangman.lifes-10 .base {
  background: #000;
}

#hangman.lifes-9 .left-bar {
  background: #000;
}

#hangman.lifes-8 .top-bar {
  background: #000;
}

#hangman.lifes-7 .right-bar {
  background: #000;
}

#hangman.lifes-6 .head {
  border: 2px solid #000;
}

#hangman.lifes-5 .body {
  background: #000;
}

#hangman.lifes-4 .left-arm {
  background: #000;
}

#hangman.lifes-3 .right-arm {
  background: #000;
}

#hangman.lifes-2 .left-leg {
  background: #000;
}

#hangman.lifes-1 .right-leg {
  background: #000;
}

#letters {
  color: #999;
  letter-spacing: 5px;
  margin: 20px auto 0;
  text-align: center;
  width: 400px;
}

#you-win,
#game-over {
  background: #87D892;
  border: 2px solid #407847;
  border-radius: 6px;
  color: #407847;
  margin: 40px auto 0;
  text-align: center;
  width: 300px;
}

#game-over {
  background: #F9C3B9;
  border-color: #8A2512;
  color: #8A2512;
}
